::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #BDBDBD;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  #BDBDBD;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:  #BDBDBD;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  #BDBDBD;
  }
  .login-page{
    width: 309px;
    margin: 0 auto;
    text-align: center;
    .logo-area{
      display: inline-block;
      background: url(../assets/img/logo.png);
      background-size: 100px auto;
      width: 100px;
      height: 100px;
      margin-top: 74px;
    }
    .username-input, .pass-input{
      box-sizing: border-box;
      width: 309px;
      height: 44px;
      padding-left: 16px;
      border: 1px solid #BDBDBD;
      font-size: 14px;
    }
    .username-input{
      margin-top: 60px;
    }
    .pass-input{
      margin-top: 20px;
    }
    .validation-tips{
      width: 100%;
      margin-top: 8px;
      font-size: 12px;
      color: #BDBDBD;
      text-align: right;
    }
    .login-btn{
      display: inline-block;
      box-sizing: border-box;
      background: $topicColor;
      width: 169px;
      height: 42px;
      line-height: 42px;
      border-radius: 2px;
      margin-top: 41px;
      color: #fff;
      font-size: 16px;
    }
  }